body {
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
    /* background-color: black; */
    background-image: url(image.jpg);
    color: aliceblue;
}
#slot{
width: 100%;
height: 60px;
margin: 0px auto;
display: flex;
align-items: center;
justify-content: space-between;
}
.logo{
    margin: 0px;
    margin-left: 0px;
    font-size: 26px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;

}
.list {
    /* margin-left: 100px; */
    margin-top: 10px;
    list-style: none;
    display: flex;
    gap: 15px;
    text-align: center;
    

  }
  
  .list li {
    display: inline;
    /* text-decoration: none; */
  }
  .list a{
    text-decoration: none;
    color: white;
  }
  .register-btn {
    margin-left: 30px;
    
    background-color:inherit;
    color: white;
    border: 1px solid white;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  .hero {
    text-align: center;
    padding: 100px 20px;
    margin-top: 30px;
  }
  
  .hero h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .hero p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .contact-btn {
    padding: 10px 20px;
    background:  #7870ff;
    color: #fff;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
  }
  .info-blocks {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 50px 20px;
    margin-top: 30px;
  }
  
  .info-card {
    background: rgba(104, 75, 133, 0.568);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 250px;
    height: 200px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  }
  
  .info-card .icon {

    margin-bottom: 10px;
    mix-blend-mode: multiply;
  }
  
  .info-card h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .info-card p {
    font-size: 14px;
    margin-bottom: 10px;
    color: #a6a6a6;
  }
  .info-card a{
    text-decoration:none ;
  }